


.contenedornotas{
    padding: 4rem;
    margin-right: 2rem;
    border-radius: 1rem;
    background-color: orange;
    width: 700px;
    height: 250px;
    display: flex;
    align-items: flex-end;
    justify-items: flex-end;
}
textarea {
    
    border: 2px solid;
    padding: 8px;
    width: 300px;
    resize: vertical;
    overflow: auto;
    margin: 5rem;
}
.cont2{
    width: fit-content;
    align-items: start;
    display: flex;
    flex-direction: column;
    
}
.cont3{
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.red{
    background-color: red;
    margin: 5px;
    width: 15rem;
    border-radius: 3px;

}
.green{
    background-color: green;
    margin: 5px;
    width: 15rem;
    border-radius: 3px;
}

h2{
    font-size: xx-large;

}
input{
    border-radius: 5px;
    width: 230px
}

.card{
    margin-top: 2rem;
}

#contenedorTarjetas{
    width: 250px;
}


    


