


.contenedornotas{
    padding: 3rem;
    margin-right: 2rem;
    border: 1px solid black;
    background-color: yellow;
    width: 60%;
    height: 18rem;
}
textarea {
    
    border: 2px solid;
    padding: 20px;
    width: 300px;
    resize: vertical;
    overflow: auto;
    margin: 1rem;
}
.cont2{
    height: fit-content;
    border: 1px solid black;
    align-items: start;
    display: flex;
    flex-direction: column;


    
}
.cont3{
    height: fit-content;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}
.red{
    background-color: red;
    margin: 5px;
    width: 15rem;
    border-radius: 3px;

}
.green{
    background-color: green;
    margin: 5px;
    width: 15rem;
    border-radius: 3px;
}

.card{
    background-color: blue;
    color: white;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    font-size: x-large;
}


    


